[submodule "modules/manakai"]
	path = modules/manakai
	url = git://github.com/wakaba/manakai.git
[submodule "modules/perl-charclass"]
	path = modules/perl-charclass
	url = git://github.com/wakaba/perl-charclass.git
[submodule "modules/twiggy-packed"]
	path = modules/twiggy-packed
	url = git://github.com/wakaba/perl-twiggy-packed
[submodule "modules/promised-command"]
	path = modules/promised-command
	url = git://github.com/wakaba/perl-promised-command
[submodule "modules/promise"]
	path = modules/promise
	url = git://github.com/wakaba/perl-promise
[submodule "modules/wanage"]
	path = modules/wanage
	url = git://github.com/wakaba/wanage
[submodule "modules/charclass"]
	path = modules/charclass
	url = git://github.com/wakaba/perl-charclass
[submodule "modules/ooutils"]
	path = modules/ooutils
	url = git://github.com/wakaba/perl-ooutils
[submodule "modules/test-test"]
	path = modules/test-test
	url = git://github.com/wakaba/perl-test-test
[submodule "modules/json-functions-xs"]
	path = modules/json-functions-xs
	url = git://github.com/wakaba/perl-json-functions-xs
[submodule "modules/web-encodings"]
	path = modules/web-encodings
	url = git://github.com/manakai/perl-web-encodings
[submodule "modules/web-url"]
	path = modules/web-url
	url = git://github.com/manakai/perl-web-url
[submodule "modules/web-encodings.2"]
	path = modules/web-encodings.2
	url = git://github.com/manakai/perl-web-encodings.git
