<Limit POST PUT DELETE>
  Require group test-results
  AuthType Basic
  AuthUserFile /home/wakaba/public_html/pbin/accounts/data/htpasswd
  AuthGroupFile /home/wakaba/public_html/pbin/accounts/data/htgroup
  AuthName "test-results"
</Limit>
