<Limit POST PUT DELETE>
  Require user wakaba
  AuthType Basic
  AuthUserFile /home/wakaba/public_html/archive2/.htpasswd
  AuthName "Test results (if you want an account, please mail <w@suika.fam.cx>)"
</Limit>
