@import 'https://suikaweb.herokuapp.com/www/style/html/xhtml';
@import 'http://suika.suikawiki.org/www/style/html/xhtml';

.PASS, .has {
  background-color: green;
}

.FAIL {
  background-color: red;
}

.SKIPPED {
  color: gray;
}

tbody td {
  font-size: xx-small;
}

tfoot td {
  text-align: right;
}

th, td {
  max-width: 20em;
  overflow: hidden;
}

/*

Copyright 2008-2012 Wakaba <w@suika.fam.cx>.

This library is free software; you can redistribute it and/or modify
it under the same terms as Perl itself.

*/
