@import '/www/style/html/xhtml';

.PASS, .has {
  background-color: green;
}

.FAIL {
  background-color: red;
}

.SKIPPED {
  color: gray;
}

tbody td {
  font-size: xx-small;
}

tfoot td {
  text-align: right;
}
